.homeheader {
  background-color: #ffc01f;
  padding: 10px 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.homefotersocials {
}
.homefotersocial {
  margin-right: 10px;
}

.homenav {
  width: 92%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logogotohome{
  text-decoration: none;
  color: #282828;
}
.homenavlogos {
  display: flex;
  gap: 5px;
}
.homenavmenu {
  color: #353535;
  text-decoration: none;
  margin-right: 2vw;
}
.homenavlang {
  color: #353535;
  text-decoration: none;
}
.homelangrm {
  border-right: 2px solid #353535;
  padding-right: 5px;
}
.texarrowdown {
  &:hover {
    color: #ffc01f;
  }
}

.texnikafirstpart {
  margin: 0 auto;
}

.aboutgoto {
  margin-left: calc(10px + 3vw);
  margin-top: calc(10px + 3vw);
}
.aboutgotos {
  color: #686868;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}
.aboutgotohome {
  color: #adadad;
  text-decoration: none;
}
.aboutgotoabout {
  color: #596c72;
  text-decoration: none;
}
.mainpart1 {
  width: 92%;
  margin: 0 auto;
  padding: calc(30px + 3vw) 0px;
}
.bizeyazin {
  font-size: 30px;
  color: #596c72;
}

.divinput1 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}
.inputs1 {
  width: 100%;
  border-radius: 20px;
  padding: 10px;
}
.inputs2 {
  width: 100%;
  border-radius: 20px;
  height: 200px;
  padding: 5px;
  resize: none;
}
.contactdiva{
    margin-top: 10px;
    width: 100%;
    display: flex;
}
.contactinputa{
    text-align: center;
    text-decoration: none;
    color: #353535;
    width: 100%;
    background-color: #ffc01f;
    padding: 10px;
    border-radius: 20px;
}
.contacts{
    width: 60%;
    margin: 0 auto;
    padding: calc(30px + 2vw) 0px;
}
.elaqe{
    text-align: center;
}
.contactp{
    color: #69768B;
    text-decoration: none;
}
.contacttels{
    display: flex;
    justify-content: space-between;
}
.contactsocial{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.contactpart2{
    padding: calc(20px + 2vw) 0px;
}

.footerlogo {
    display: flex;
  }
  .footerlogoimg {
    width: 30px;
  }
  .footerp1 {
    margin-left: 5px;
    margin-top: 10px;
  }
  .footerdiv2 {
    display: flex;
    flex-direction: column;
  }
  .homefooter {
    background-image: url(./homeImages/footerback.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: calc(20px + 3vw) 10px 20px 20px;
    color: #353535;
  }
  .hfootera {
    margin-bottom: 10px;
    color: #353535;
    text-decoration: none;
  }
  .hfootersocial {
    margin-right: 15px;
    margin-top: 20px;
  }
  .hfooterend {
    display: flex;
    justify-content: space-between;
    padding-top: calc(20px + 1vw);
  }
  