.homeheader {
  background-color: #ffc01f;
  padding: 10px 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.homefotersocials {
}
.homefotersocial {
  margin-right: 10px;
}

.homenav {
  width: 92%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logogotohome{
  color: #282828;
  text-decoration: none;
}
.homenavlogos {
  display: flex;
  gap: 5px;
}
.homenavmenu {
  color: #353535;
  text-decoration: none;
  margin-right: 2vw;
}
.homenavlang {
  color: #353535;
  text-decoration: none;
}
.homelangrm {
  border-right: 2px solid #353535;
  padding-right: 5px;
}
.texarrowdown {
  &:hover {
    color: #ffc01f;
  }
}

.texnikafirstpart {
  margin: 0 auto;
}

.aboutgoto {
  margin-left: calc(10px + 3vw);
  margin-top: calc(10px + 3vw);
}
.aboutgotos {
  color: #686868;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}
.aboutgotohome {
  color: #adadad;
  text-decoration: none;
}
.aboutgotoabout {
  color: #596c72;
  text-decoration: none;
}

.rentmainpart1 {
  width: 92%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: calc(30px + 3vw) 0px;
}
.rentmainleft {
  max-width: 40%;
}
.rentmainright {
  max-width: 60%;
}
.mainlefth1 {
  font-size: 50px;
  color: #596c72;
  padding: 20px;
}
.mainleftimgdiv {
  padding: 50px 30px;
}
.mainleftimg {
  width: 100%;
}
.mainrightimgdiv {
}
.mainrightimg {
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
}
.mainrightlorem {
  font-size: 14px;
  color: #353535;
  padding: 10px 50px;
  box-sizing: border-box;
}

.alternativemain {
  display: none;
}

@media screen and (max-width: 900px) {
  div.rentmainpart1 {
    display: none;
  }
  .alternativemain {
    display: initial;
    text-align: center;
  }
}

.rentmainpart2 {
  width: 92%;
}
.part2h1 {
  font-size: 30px;
  color: #596c72;
  text-align: center;
}
.questions {
  width: 70%;
  margin: 0 auto;
  padding: calc(20px + 3vw) 0px;
}
.question1 {
  display: flex;
  justify-content: space-between;
}
.questiona {
  text-decoration: none;
  color: #ffc01f;
}
.footerlogo {
  display: flex;
}
.footerlogoimg {
  width: 30px;
}
.footerp1 {
  margin-left: 5px;
  margin-top: 10px;
}
.footerdiv2 {
  display: flex;
  flex-direction: column;
}
.homefooter {
  background-image: url(./homeImages/footerback.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: calc(20px + 3vw) 10px 20px 20px;
  color: #353535;
}
.hfootera {
  margin-bottom: 10px;
  color: #353535;
  text-decoration: none;
}
.hfootersocial {
  margin-right: 15px;
  margin-top: 20px;
}
.hfooterend {
  display: flex;
  justify-content: space-between;
  padding-top: calc(20px + 1vw);
}
